{% extends "base.html" %}

{#{% block extra_head %}#}
{#{% endblock %}#}

{% block content %}
    <div class="head-title">
        <div class="container">
            <h2 class="page-title">{% block head_title %}{% endblock %}</h2>
        </div><!-- end container -->
    </div><!-- end head-title -->

    <div id="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="acc-box equal">
                        {% if messages %}
                            <div>
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>تنبيه من أطايب: </strong> {{ message }}
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% block account_content %}{% endblock %}

                        {% block extra_body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
