{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="head-title">
            <div class="container">
                <h2 class="page-title">Events</h2>
            </div><!-- end container -->
        </div><!-- end head-title -->

        <div id="main">
            <div class="container">
                <div class="row">
                    
                    <div id="primary" class="content-area col-md-8">
                        <div id="content" class="site-content">


                            <div class="event-bar">
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <label for="dateEvent">Event From</label>
                                            <input data-toggle="datepicker" type="text" class="form-control" id="dateEvent" placeholder="Date">
                                        </div><!-- end col -->

                                        <div class="col-md-4">
                                            <label for="KeywordInput">Search</label>
                                            <input type="text" class="form-control" id="KeywordInput" placeholder="Keyword">
                                        </div><!-- end col -->

                                        <div class="col-md-4">
                                            <button class="btn btn-outline-primary">Find Events</button>
                                        </div><!-- end col -->
                                    </div><!-- end form-row -->
                                </form>
                            </div><!-- event-bar -->

                            <div class="event-post">
                                <div class="event-date">
                                    <a href="#">
                                        <time class="published" datetime="2019-12-22" title="December 22, 2019 - 21:12 pm">Dec<span class="date">22</span>2019</time>
                                    </a>
                                </div><!-- event-date -->
                                <figure class="event-img">
                                    <img src="{% static 'recipes/images/content/event-img.jpg' %}" alt="">
                                </figure>
                                <h2 class="event-title"><a href="#">Posuere Tincidunt Garcu Sodales</a></h2>
                                <div class="row">
                                    <div class="col">
                                        <p>Ganolia Building</p>
                                        <p>December 11 &mdash; December 22</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-primary float-right"><i class="fas fa-ticket-alt">&nbsp;</i>Buy Ticket</a>
                                    </div>
                                </div><!-- end row -->
                            </div><!-- event-post -->

                            <div class="event-post">
                                <div class="event-date">
                                    <a href="#">
                                        <time class="published" datetime="2019-12-22" title="December 22, 2019 - 21:12 pm">Dec<span class="date">22</span>2019</time>
                                    </a>
                                </div><!-- event-date -->
                                <figure class="event-img">
                                    <img src="{% static 'recipes/images/content/event-img.jpg' %}" alt="">
                                </figure>
                                <h2 class="event-title"><a href="#">Posuere Tincidunt Garcu Sodales</a></h2>
                                <div class="row">
                                    <div class="col">
                                        <p>Ganolia Building</p>
                                        <p>December 11 &mdash; December 22</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-primary float-right"><i class="fas fa-ticket-alt">&nbsp;</i>Buy Ticket</a>
                                    </div>
                                </div><!-- end row -->
                            </div><!-- event-post -->

                            <div class="event-post">
                                <div class="event-date">
                                    <a href="#">
                                        <time class="published" datetime="2019-12-22" title="December 22, 2019 - 21:12 pm">Dec<span class="date">22</span>2019</time>
                                    </a>
                                </div><!-- event-date -->
                                <figure class="event-img">
                                    <img src="{% static 'recipes/images/content/event-img.jpg' %}" alt="">
                                </figure>
                                <h2 class="event-title"><a href="#">Posuere Tincidunt Garcu Sodales</a></h2>
                                <div class="row">
                                    <div class="col">
                                        <p>Ganolia Building</p>
                                        <p>December 11 &mdash; December 22</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-primary float-right"><i class="fas fa-ticket-alt">&nbsp;</i>Buy Ticket</a>
                                    </div>
                                </div><!-- end row -->
                            </div><!-- event-post -->

                            <div class="event-post">
                                <div class="event-date">
                                    <a href="#">
                                        <time class="published" datetime="2019-12-22" title="December 22, 2019 - 21:12 pm">Dec<span class="date">22</span>2019</time>
                                    </a>
                                </div><!-- event-date -->
                                <figure class="event-img">
                                    <img src="{% static 'recipes/images/content/event-img.jpg' %}" alt="">
                                </figure>
                                <h2 class="event-title"><a href="#">Posuere Tincidunt Garcu Sodales</a></h2>
                                <div class="row">
                                    <div class="col">
                                        <p>Ganolia Building</p>
                                        <p>December 11 &mdash; December 22</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-primary float-right"><i class="fas fa-ticket-alt">&nbsp;</i>Buy Ticket</a>
                                    </div>
                                </div><!-- end row -->
                            </div><!-- event-post -->

                            <div class="event-post">
                                <div class="event-date">
                                    <a href="#">
                                        <time class="published" datetime="2019-12-22" title="December 22, 2019 - 21:12 pm">Dec<span class="date">22</span>2019</time>
                                    </a>
                                </div><!-- event-date -->
                                <figure class="event-img">
                                    <img src="{% static 'recipes/images/content/event-img.jpg' %}" alt="">
                                </figure>
                                <h2 class="event-title"><a href="#">Posuere Tincidunt Garcu Sodales</a></h2>
                                <div class="row">
                                    <div class="col">
                                        <p>Ganolia Building</p>
                                        <p>December 11 &mdash; December 22</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-primary float-right"><i class="fas fa-ticket-alt">&nbsp;</i>Buy Ticket</a>
                                    </div>
                                </div><!-- end row -->
                            </div><!-- event-post -->

                        </div><!-- end content -->
                    </div><!-- end primary -->

                    <div id="secondary" class="col-md-4">

                        <div id="search-2" class="widget widget_search">
                            <div class="widget-title-outer">
                                <h3 class="widget-title">Search</h3>
                            </div>
                            <div class="searchform">
                                <form>
                                    <input type="text" class="txt" name="s" placeholder="Type Keywords">
                                    <input type="submit" value="search" class="btn btn-sm">
                                </form>
                            </div><!-- end searchform -->
                        </div><!-- end search widget -->

                        <div class="widget post-type-widget">
                            <div class="widget-title-outer">
                                <h3 class="widget-title">Recent Posts</h3>
                            </div>
                            <ul>
                                <li>
                                    <span class="post-category">
                                        <a href="#">Uncategorized</a>
                                    </span>
                                    <figure class="post-thumbnail">
                                        <a href="#"><img src="{% static 'recipes/images/content/thumb-post-01.png' %}" alt=""></a>
                                    </figure>
                                    <h2 class="post-title">
                                        <a href="#">Lorem Ipsum Dolor Sit Amet, Consetetuer Adipiscing Elit</a>
                                    </h2>
                                </li>
                                <li>
                                    <span class="post-category">
                                        <a href="#">Cooking Tips</a>
                                    </span>
                                    <figure class="post-thumbnail">
                                        <a href="#"><img src="{% static 'recipes/images/content/thumb-post-02.png' %}" alt=""></a>
                                    </figure>
                                    <h2 class="post-title">
                                        <a href="#">Euismod Tincidunt ut Laoreet Dolore Magna Aliquam</a>
                                    </h2>
                                </li>
                                <li>
                                    <span class="post-category">
                                        <a href="#">Kitchen</a>
                                    </span>
                                    <figure class="post-thumbnail">
                                        <a href="#"><img src="{% static 'recipes/images/content/thumb-post-03.png' %}" alt=""></a>
                                    </figure>
                                    <h2 class="post-title">
                                        <a href="#">Ullamcorper Suscipit Lobortis Nisl ut Aliquip Commodo Consequat</a>
                                    </h2>
                                </li>
                                <li>
                                    <span class="post-category">
                                        <a href="#">Vegetable</a>
                                    </span>
                                    <figure class="post-thumbnail">
                                        <a href="#"><img src="{% static 'recipes/images/content/thumb-post-04.png' %}" alt=""></a>
                                    </figure>
                                    <h2 class="post-title">
                                        <a href="#">Quod Mazim Placerat Facer Possim Assum</a>
                                    </h2>
                                </li>
                            </ul>
                            </div><!-- end widget -->

                            <div class="widget widget_categories">
                                <div class="widget-title-outer">
                                    <h3 class="widget-title">Post Categories</h3>
                                </div>
                                <ul>
                                    <li>
                                        <a class="float-left" href="#">Cooking Tips</a>
                                        <span class="float-right">17</span>
                                    </li>
                                    <li>
                                        <a class="float-left" href="#">Kitchen</a>
                                        <span class="float-right">14</span>
                                    </li>
                                    <li>
                                        <a class="float-left" href="#">Chef's Secret</a>
                                        <span class="float-right">10</span>
                                    </li>
                                    <li>
                                        <a class="float-left" href="#">Vegetable</a>
                                        <span class="float-right">8</span>
                                    </li>
                                    <li>
                                        <a class="float-left" href="#">Nutrition</a>
                                        <span class="float-right">6</span>
                                    </li>
                                    <li>
                                        <a class="float-left" href="#">Ingredients</a>
                                        <span class="float-right">4</span>
                                    </li>
                                </ul>
                            </div><!-- end widget -->

                            <div class="widget">
                                <div class="widget-title-outer">
                                    <h3 class="widget-title">News Tags</h3>
                                </div>
                                <div class="tagcloud">
                                    <a href="#">food</a>
                                    <a href="#">ingredients</a>
                                    <a href="#">chef</a>
                                    <a href="#">kitchen</a>
                                    <a href="#">vegetable</a>
                                    <a href="#">cake</a>
                                    <a href="#">beverage</a>
                                    <a href="#">tips</a>
                                    <a href="#">nutrition</a>
                                    <a href="#">tools</a>
                                </div>
                            </div><!-- end widget -->

                            <div class="widget">
                                <a href="#"><img src="{% static 'recipes/images/content/banner.png' %}" alt="Banner"></a>
                            </div>

                            <div class="widget">
                                <div class="widget-title-outer">
                                    <h3 class="widget-title">Our Facebook Page</h3>
                                </div>
                                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true"></iframe>
                            </div><!-- end widget -->

                    </div><!-- end #secondary -->

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end main -->

{% endblock %}