{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- SLIDER SECTION -->
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="{% static 'recipes/images/assets/atayeb_cover_orange_1410x745-1.png' %}" alt="slide 1">
            <div class="caption">
{#                <h2 class="animated bounce">أشهى الأطباق المنزلية</h2>#}
{#                <button class="btn btn-primary">EXPLORE NOW</button>#}
            </div>
        </div><!-- end item -->
        <div class="item">
            <img src="{% static 'recipes/images/assets/atayeb_cover_orange_1410x745-2.png' %}" alt="slide 1">
            <div class="caption">
{#                <h2 class="animated bounce">Our 10 Most Popular Recipes</h2>#}
{#                <button class="btn btn-primary">EXPLORE NOW</button>#}
            </div>
        </div><!-- end item -->
        <div class="item">
            <img src="{% static 'recipes/images/assets/slide-13.png' %}" alt="slide 1">
            <div class="caption">
                <h2 class="animated bounce">أشهر 10 وصفات</h2>
                <button class="btn btn-primary">EXPLORE NOW</button>
            </div>
        </div><!-- end item -->
        <div class="item">
            <img src="{% static 'recipes/images/assets/slide-14.png' %}" alt="slide 2">
            <div class="caption">
                <h2 class="animated bounce">Best Review Recipe 2019</h2>
                <button class="btn btn-primary">READ MORE</button>
            </div>
        </div><!-- end item -->
        <div class="item">
            <img src="{% static 'recipes/images/assets/slide-15.png' %}" alt="slide 3">
            <div class="caption">
                <h2 class="animated bounce">Most Popular Homemade Recipes</h2>
                <button class="btn btn-primary">EXPLORE NOW</button>
            </div>
        </div><!-- end item -->
    </div><!-- end owl-carousel -->

    <div class="choice-section">
        <div class="container">
            <div class="section-title">
                <h3>Editor's Choice</h3>
            </div><!-- end section-title -->
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="big-bone">
                        <a href="#" class="figure-caption">
                            <div class="caption-inner">
                                <p>FOOD</p>
                                <span>20 Recipes</span>
                            </div>
                        </a>
                        <figure><img src="{% static 'recipes/images/content/food-l.png' %}" alt="food l"></figure>
                    </div>
                    <div class="small-bone">
                        <figure><img src="{% static 'recipes/images/content/food-s.png' %}" alt="food s"></figure>
                        <figure><img src="{% static 'recipes/images/content/food-s2.png' %}" alt="food s"></figure>
                    </div>
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="big-bone">
                        <a href="#" class="figure-caption">
                            <div class="caption-inner">
                                <p>BEVERAGE</p>
                                <span>16 Recipes</span>
                            </div>
                        </a>
                        <figure><img src="{% static 'recipes/images/content/beverage-l.png' %}" alt="beverage l">
                        </figure>
                    </div>
                    <div class="small-bone">
                        <figure><img src="{% static 'recipes/images/content/beverage-s.png' %}" alt="beverage s">
                        </figure>
                        <figure><img src="{% static 'recipes/images/content/beverage-s2.png' %}" alt="beverage s">
                        </figure>
                    </div>
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="big-bone">
                        <a href="#" class="figure-caption">
                            <div class="caption-inner">
                                <p>DESSERT</p>
                                <span>18 Recipes</span>
                            </div>
                        </a>
                        <figure><img src="{% static 'recipes/images/content/dessert-l.png' %}" alt="dessert l"></figure>
                    </div>
                    <div class="small-bone">
                        <figure><img src="{% static 'recipes/images/content/dessert-s.png' %}" alt="dessert s"></figure>
                        <figure><img src="{% static 'recipes/images/content/dessert-s2.png' %}" alt="dessert s">
                        </figure>
                    </div>
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="big-bone">
                        <a href="#" class="figure-caption">
                            <div class="caption-inner">
                                <p>PUDDING</p>
                                <span>28 Recipes</span>
                            </div>
                        </a>
                        <figure><img src="{% static 'recipes/images/content/pudding-l.png' %}" alt="pudding l"></figure>
                    </div>
                    <div class="small-bone">
                        <figure><img src="{% static 'recipes/images/content/pudding-s.png' %}" alt="pudding s"></figure>
                        <figure><img src="{% static 'recipes/images/content/pudding-ss.png' %}" alt="pudding s">
                        </figure>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end editor-section -->

    <div class="features-section parallax-bg">
        <div class="container">
            <div class="section-title">
                <h3>Special Features</h3>
            </div><!-- end section-title -->
            <div class="row">
                <div class="col-md-4">
                    <div class="inner">
                        <span class="fitcon"><i class="fas fa-chart-line"></i></span>
                        <h4>Food Nutritions</h4>
                        <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="inner">
                        <span class="fitcon"><i class="far fa-clock"></i></span>
                        <h4>Cooking Period</h4>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                            vel illum dolore eu feugiat nulla facilisis.</p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="inner">
                        <span class="fitcon"><i class="fas fa-user-friends"></i></span>
                        <h4>Membership</h4>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation coper suscipit lobortis nisl ut
                            aliquip commodo consequat.</p>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end features -->

    <div class="recipes-section">
        <div class="container">
            <div class="section-title">
                <h3>Special Features</h3>
            </div><!-- end section-title -->
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-1.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Salad Nicoise</a>
                        </h2>
                        <p><em>By Lina Sukowati</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;9 Minutes</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-2.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Grilled Beef Steak</a>
                        </h2>
                        <p><em>By Eka Nurwasilah</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;26 Minutes</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-3.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Tiger Prawns Roasted</a>
                        </h2>
                        <p><em>By Nurjanah</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;27 Minutes</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-4.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Korean Soup</a>
                        </h2>
                        <p><em>By Lina Sukowati</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;45 Minutes</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->

                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-5.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Roast Aubergine</a>
                        </h2>
                        <p><em>By Lina Sukowati</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;1 Hour</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-6.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Indian Mixed Rice</a>
                        </h2>
                        <p><em>By Eka Nurwasilah</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;26 Minutes</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-7.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Black Red Cake</a>
                        </h2>
                        <p><em>By Nurjanah</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;27 Minutes</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        <img src="{% static 'recipes/images/content/thumb-8.png' %}" alt="Recipe Image">
                        <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                        <a href="#" class="view-recipe">VIEW RECIPE</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="#">Fresh Spaghetti with Tuna</a>
                        </h2>
                        <p><em>By Lina Sukowati</em></p>
                        <span><i class="fas fa-clock"></i>&nbsp;45 Minutes</span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="centered">
                    <a href="#" class="btn btn-line">VIEW ALL RECIPES</a>
                </div><!-- end centered -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end recipes -->

    <div class="editor-section">
        <div class="container">
            <div class="section-title">
                <h3>أطايب Editor</h3>
            </div><!-- end section-title -->
            <div class="row justify-content-center">
                <div class="col-6 col-md-2">
                    <div class="author-col">
                        <figure class="auth-ava">
                            <img src="{% static 'recipes/images/content/ava-1.png' %}" alt="Avatar">
                        </figure>
                        <h4>Roberta Farina</h4>
                        <p>Executive Editor</p>
                    </div><!-- end author-col -->
                </div><!-- end col -->
                <div class="col-6 col-md-2">
                    <div class="author-col">
                        <figure class="auth-ava">
                            <img src="{% static 'recipes/images/content/ava-2.png' %}" alt="Avatar">
                        </figure>
                        <h4>Nia Kurniasari</h4>
                        <p>Internet Marketer</p>
                    </div><!-- end author-col -->
                </div><!-- end col -->
                <div class="col-6 col-md-2">
                    <div class="author-col">
                        <figure class="auth-ava">
                            <img src="{% static 'recipes/images/content/ava-3.png' %}" alt="Avatar">
                        </figure>
                        <h4>Rina Alexanderia</h4>
                        <p>Publisher</p>
                    </div><!-- end author-col -->
                </div><!-- end col -->
                <div class="col-6 col-md-2">
                    <div class="author-col">
                        <figure class="auth-ava">
                            <img src="{% static 'recipes/images/content/ava-4.png' %}" alt="Avatar">
                        </figure>
                        <h4>Siti Julaiha</h4>
                        <p>System Administrator</p>
                    </div><!-- end author-col -->
                </div><!-- end col -->
                <div class="col-6 col-md-2">
                    <div class="author-col">
                        <figure class="auth-ava">
                            <img src="{% static 'recipes/images/content/ava-5.png' %}" alt="Avatar">
                        </figure>
                        <h4>Laila Delova</h4>
                        <p>Graphic Designer</p>
                    </div><!-- end author-col -->
                </div><!-- end col -->
                <div class="col-6 col-md-2">
                    <div class="author-col">
                        <figure class="auth-ava">
                            <img src="{% static 'recipes/images/content/ava-1.png' %}" alt="Avatar">
                        </figure>
                        <h4>Fatur</h4>
                        <p>Web Developer</p>
                    </div><!-- end author-col -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end editor-section -->

    <div class="event-section parallax-bg">
        <div class="container">
            <div class="section-title">
                <h3>UPCOMING EVENT</h3>
            </div><!-- end section-title -->
            <div class="row justify-content-md-center">
                <div class="col col-md-8">
                    <div class="event-container">
                        <h2>Housewife Cooking Competition</h2>
                        <p><i class="fas fa-calendar"></i>Saturday, January 20, 2019<br>
                            <i class="fas fa-map-marker-alt"></i>Balai Sartini, Surakarta</p>
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div><!-- end event-container -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- event-section -->

    <div class="blog-section">
        <div class="container">
            <div class="section-title">
                <h3>RECENT BLOG POST</h3>
            </div><!-- end section-title -->
            <div class="row">
                <div class="col-6 col-md-3 blog-list">
                    <figure class="blog-thumb">
                        <img src="{% static 'recipes/images/content/blog-1.png' %}" alt="blog">
                    </figure>
                    <div class="entry-header">
                        <h2 class="post-title entry-title">
                            <a href="#">Claritas est etiam processus dynamicus, qui sequitur nembuz</a>
                        </h2>
                    </div><!-- end entry-header -->
                    <div class="post-meta">
                        <div class="cat"><a href="#">Cooking Tips</a></div>
                        <time class="published" datetime="2019-03-03" title="March 3, 2019 - 21:12 pm">Mar 3, 2019
                        </time>
                    </div>
                </div><!-- end col -->
                <div class="col-6 col-md-3 blog-list">
                    <figure class="blog-thumb">
                        <img src="{% static 'recipes/images/content/blog-2.png' %}" alt="blog">
                    </figure>
                    <div class="entry-header">
                        <h2 class="post-title entry-title">
                            <a href="#">Anteposuerit litterarum formas humanitatis per seacula</a>
                        </h2>
                    </div><!-- end entry-header -->
                    <div class="post-meta">
                        <div class="cat"><a href="#">How to</a></div>
                        <time class="published" datetime="2019-03-03" title="March 3, 2019 - 21:12 pm">Mar 3, 2019
                        </time>
                    </div>
                </div><!-- end col -->
                <div class="col-6 col-md-3 blog-list">
                    <figure class="blog-thumb">
                        <img src="{% static 'recipes/images/content/blog-3.png' %}" alt="blog">
                    </figure>
                    <div class="entry-header">
                        <h2 class="post-title entry-title">
                            <a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a>
                        </h2>
                    </div><!-- end entry-header -->
                    <div class="post-meta">
                        <div class="cat"><a href="#">Cooking Tips</a></div>
                        <time class="published" datetime="2019-03-03" title="March 3, 2019 - 21:12 pm">Mar 3, 2019
                        </time>
                    </div>
                </div><!-- end col -->
                <div class="col-6 col-md-3 blog-list">
                    <figure class="blog-thumb">
                        <img src="{% static 'recipes/images/content/blog-4.png' %}" alt="blog">
                    </figure>
                    <div class="entry-header">
                        <h2 class="post-title entry-title">
                            <a href="#">Mirum est notare quam littera gothica</a>
                        </h2>
                    </div><!-- end entry-header -->
                    <div class="post-meta">
                        <div class="cat"><a href="#">Cooking Tips</a></div>
                        <time class="published" datetime="2019-03-03" title="March 3, 2019 - 21:12 pm">Mar 3, 2019
                        </time>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end blog-section -->


{% endblock %}