{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @page {
            size: a4;
        }
    </style>

    <!-- STYLE CSS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="{% static 'recipes/css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'recipes/css/atayeb_styles.css' %}">
    <link rel="shortcut icon" href="{% static 'recipes/images/atayeb_logo_icon.ico' %}">
</head>

<body>

    <div class="container-fluid" style="display: inline-block;">
        <div class="content" style="display: block;" style="clear:left;" style="border-color:brown;">
            <img src="{% static 'recipes/images/atayeb_logo_300.png' %}" alt="Food Recipe Web Template" title="أطايب"
                style="float:right; height: 230px; width: 250px;">
            <div class="head-title" style="float:left;">
                <h2 class="page-title">{{recipe.category.name}}</h2>
            </div><!-- end head-title -->
        </div>

        <div class="container" style="display: inline-block;">

            <div class="recipe-content" style="display: block;">

                <div class="row">
                    <div class="col">
                        <div class="recipe-head" style="text-align: center;">
                            <h1 class=" recipe-title">{{recipe.name}}</h1>
                        </div>
                        <div class="recipe-lvl">
                            <span>
                                {% for item in recipe.tags.values %}
                                <a href="#">{{item.name}}</a>
                                {% endfor %}
                                العلامات :
                            </span>
                            <span> {{recipe.author}} الكاتب :</span>
                            <span>وقت التحضير : {{recipe.prep_time}} دقيقة </span>
                        </div><!-- end recipe level -->
                    </div><!-- end col -->
                </div><!-- end row -->


                <div class="row">
                    <div class="col">
                        <figure class="recipe-pict">
                            <img src="{% static 'recipes/images/atayeb_logo_300.png' %}" alt="Recipe Image">
                        </figure>
                    </div><!-- end col -->
                    <div class="col">
                        <div class="detail-desc">
                            <p><strong>الوصف</strong></p>
                            <p>{{recipe.description}}</p>
                        </div><!-- recipe desc -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="space-section"></div>

                <div class="row">
                    <div class="ingredient col-4">
                        <p><strong>المكونات والمقادير</strong></p>
                        <ul style="list-style: none;">
                            {% for item in ingredents %}
                            <li> <span> {{item.quantity}} {{item.ingredient}} </span></li>
                            {% endfor %}
                        </ul>
                    </div><!-- end col -->
                    <div class="direction col-8">
                        <p><strong>طريقة الإعداد</strong></p>
                        <ul style="list-style: none;">
                            {% for item in instructions %}
                            <li>
                                <p>{{item.description}}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="space-section"></div>

                <div class="row">
                    <div class="col-6">
                        <p><strong>حقائق الوصفة الغذائية</strong></p>
                        <table style="width: 100%">
                            {% for item in nutration_facts %}
                            <tr>
                                <td><strong>{{item.element}}</strong></td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.daily_percent}}%</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div><!-- end col -->
                    <div class="col-6">
                        <div class="nutrition-bar">
                            {% for item in nutration_facts %}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{item.daily_percent}}%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div><!-- end col -->

                </div><!-- end row -->

            </div><!-- end recipe content -->

        </div><!-- end container -->


    </div><!-- end container-fluid -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'recipes/js/vendor/modernizr-3.7.1.min.js' %}"></script>
    <script src="{% static 'recipes/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'recipes/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'recipes/js/plugin.js' %}"></script>
    <script src="{% static 'recipes/js/main.js' %}"></script>
</body>

</html>