{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="head-title">
            <div class="container">
                <h2 class="page-title">الوصفات</h2>
            </div><!-- end container -->
        </div><!-- end head-title -->

        <div id="main">
            <div class="container">
                    
                <div id="primary" class="content-area fullwidth">
                    <div id="content" class="site-content">
                        
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-1.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">قلاية بندورة باللحمة</a>
                                    </h2>
                                    <p><em>كارمن مسيح</em></p>
                                    <span><i class="fas fa-clock"></i> 9 دقائق</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-2.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Grilled Beef Steak</a>
                                    </h2>
                                    <p><em>By Eka Nurwasilah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;26 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-3.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Tiger Prawns Roasted</a>
                                    </h2>
                                    <p><em>By Nurjanah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;27 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-4.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Korean Soup</a>
                                    </h2>
                                    <p><em>By Lina Sukowati</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;45 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->

                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-5.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Roast Aubergine</a>
                                    </h2>
                                    <p><em>By Lina Sukowati</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;1 Hour</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-6.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Indian Mixed Rice</a>
                                    </h2>
                                    <p><em>By Eka Nurwasilah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;26 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-7.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Black Red Cake</a>
                                    </h2>
                                    <p><em>By Nurjanah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;27 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-8.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Fresh Spaghetti with Tuna</a>
                                    </h2>
                                    <p><em>By Lina Sukowati</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;45 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->

                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-1.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Salad Nicoise</a>
                                    </h2>
                                    <p><em>By Lina Sukowati</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;9 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-2.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Grilled Beef Steak</a>
                                    </h2>
                                    <p><em>By Eka Nurwasilah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;26 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-3.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Tiger Prawns Roasted</a>
                                    </h2>
                                    <p><em>By Nurjanah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;27 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-4.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Korean Soup</a>
                                    </h2>
                                    <p><em>By Lina Sukowati</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;45 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->

                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-5.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Roast Aubergine</a>
                                    </h2>
                                    <p><em>By Lina Sukowati</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;1 Hour</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-6.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Indian Mixed Rice</a>
                                    </h2>
                                    <p><em>By Eka Nurwasilah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;26 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-7.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Black Red Cake</a>
                                    </h2>
                                    <p><em>By Nurjanah</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;27 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->
                            <div class="col-6 col-md-3">
                                <div class="recipe-thumb">
                                    <img src="{% static 'recipes/images/content/thumb-8.png' %}" alt="Recipe Image">
                                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                                    <a href="#" class="view-recipe">VIEW RECIPE</a>
                                </div>
                                <div class="recipe-desc">
                                    <h2 class="recipe-title">
                                        <a href="#">Fresh Spaghetti with Tuna</a>
                                    </h2>
                                    <p><em>By Lina Sukowati</em></p>
                                    <span><i class="fas fa-clock"></i>&nbsp;45 Minutes</span>
                                </div><!-- end recipe-desc -->
                            </div><!-- end col -->

                        </div><!-- end row -->

                    </div><!-- end content -->
                </div><!-- end primary -->

                <nav class="pagination-container" aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>

            </div><!-- end container -->
        </div><!-- end main -->

{% endblock %}