{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="head-title">
    <div class="container">
        <h2 class="page-title">الوصفات</h2>
    </div><!-- end container -->
</div><!-- end head-title -->

<div id="main">
    <div class="container">

        <div id="primary" class="content-area fullwidth">
            <div id="content" class="site-content">

                {% if recipes %}
                    <div class="row">
                        {% for recipe in recipes%}
                        <div class="col-6 col-md-3">
                            <div class="recipe-thumb">
                                <img src="{{recipe.image.url}}" width="250px" height="200px" alt="Recipe Image">
                            </div>
                            <div class="recipe-desc">
                                <h2 class="recipe-title">
                                    <a href="{% url 'recipes:recipe-single'  recipe.id %}"> {{recipe.name}} </a>
                                </h2>
                                <p><em> بواسطة {{ recipe.author}} </em></p>
                                <span><i class="fas fa-clock"></i> {{recipe.prep_time}} دقيقة </span>
                            </div><!-- end recipe-desc -->
                        </div><!-- end col -->
                        {% endfor %}
                    </div><!-- end row -->
                {% else %}
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row justify-content-center">
                        <h2>لا توجد وصفات متاحة حاليا .. نعمل علي اضافة المزيد قريبا ! </h2>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                {% endif%}


            </div><!-- end content -->
        </div><!-- end primary -->

        <nav class="pagination-container" aria-label="Page navigation">
            {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">السابق</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">السابق</a>
                </li>
                {% endif %}


                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">التالي</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">التالي</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>

    </div><!-- end container -->
</div><!-- end main -->

{% endblock %}