{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="head-title">
    <div class="container">
        <h2 class="page-title">{{recipe.category.name}}</h2>
    </div><!-- end container -->
</div><!-- end head-title -->

<div id="main">
    <div class="container">

        <div class="recipe-content">

            <div class="row">
                <div class="col">
                    <div class="recipe-lvl">
                        <span>الفئة : <a href="#">{{recipe.category}}</a></span>
                    </div><!-- end recipe level -->
                    <div class="recipe-head">
                        <h1 class="recipe-title">{{recipe.name}}</h1>
                        <div class="recipe-auth">
                            {% if recipe.author.image %}
                            <img src="{{ recipe.author.image.url }}" alt="">
                            {% else %}
                            <img src="{% static 'recipes/images/content/auth-03.png' %}" alt="recipe author">
                            {% endif%}

                            <span> الكاتب : <a href="#">{{recipe.author}}</a></span>
                            <span> تاريخ الاضافة : {{recipe.date_created}} </span>
                        </div><!-- recipe author -->

                        <div class="recipe-finger">

                            <div class="box-sharing">
                                <!-- <a href="#"><i class="fas fa-print"></i></a>
                                <a href="#"><i class="fas fa-share-alt"></i></a> -->
                                <a href="#"><i class="fas fa-bookmark"></i></a>
                                <a href="{% url 'recipes:recipe-pdf' recipe.id %}"><i class="fas fa-file-pdf"></i></a>
                            </div>

                            <!-- <div class="recipe-rating">
                                <span>درجة الرضا:<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div> -->
                        </div><!-- end recipe finger -->
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6">
                    <figure class="recipe-pict">
                        <img src="{{ recipe.image.url }}" alt="Recipe Image">
                    </figure>
                </div><!-- end col -->
                <div class="col-md-6">
                    <div class="detail-desc">
                        <p><strong>الوصف</strong></p>
                        <p>{{recipe.description}}</p>
                    </div><!-- recipe desc -->
                    <span>تكفي ل {{recipe.feeds_up_to}} اشخاص </span>
                    <span>وقت التحضير : {{recipe.prep_time}} دقيقة </span>

                </div><!-- end col -->
            </div><!-- end row -->
            <div class="space-section"></div>
            <div class="row">
                <div class="ingredient col-md-4">
                    <p><strong>المكونات والمقادير</strong></p>

                    <ul>
                        {% for item in ingredents %}
                        <li> <span> {{item.quantity}} {{item.ingredient}} </span></li>
                        {% endfor %}
                    </ul>
                </div><!-- end col -->
                <div class="direction col-md-8">
                    <p><strong>طريقة الإعداد</strong></p>

                    <ol>
                        {% for item in instructions %}
                        <li>
                            <p>{{item.description}}</p>
                        </li>
                        {% endfor %}
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="space-section"></div>

            <div class="row">
                <div class="col-md-4">
                    <p><strong>حقائق الوصفة الغذائية</strong></p>
                    <table style="width: 100%">
                        {% for item in nutration_facts %}
                        <tr>
                            <td><strong>{{item.element}}</strong></td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.daily_percent}}%</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div><!-- end col -->
                <div class="col-md-8">
                    <div class="nutrition-bar">
                        {% for item in nutration_facts %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{item.daily_percent}}%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- end col -->

            </div><!-- end row -->

        </div><!-- end recipe content -->

    </div><!-- end container -->
</div><!-- end main -->

<div class="related-recipe">
    <div class="container">
        <h3>وصفات ذات علاقة</h3>
        <div class="row">
            {% if related_recipes %}
            {% for recipe in related_recipes%}
            <div class="col-6 col-md-3">
                <div class="recipe-thumb">
                    <img src="{{ recipe.image.url }}" alt="Recipe Image">
                    <a href="#" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                    <a href="{% url 'recipes:recipe-single'  recipe.id %}" class="view-recipe">عرض الوصفة</a>
                </div>
                <div class="recipe-desc">
                    <h2 class="recipe-title">
                        <a href="{% url 'recipes:recipe-single'  recipe.id %}"> {{recipe.name}} </a>
                    </h2>
                    <p><em> بواسطة {{ recipe.author}} </em></p>
                    <span><i class="fas fa-clock"></i> {{recipe.prep_time}} دقيقة </span>
                </div><!-- end recipe-desc -->
            </div><!-- end col -->
            {% endfor %}
            {% endif%}
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- related recipe -->

{% if user.is_authenticated %}
<div class="recipe-comment">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="comment-outer">
                    <div id="comments" class="comments-area">
                        <h2 class="comments-title">{{comments|length}} تعليقات على هذه الوصفة</h2>
                        <ol class="comment-list">
                            {% for comment in comments%}
                            <li class="comment">
                                <!-- start comment -->
                                <div class="comment-body">

                                    <figure class="comment-author vcard">
                                        {% if comment.author.image %}
                                        <img src="{{ comment.author.image.url }}" alt="">
                                        {% else %}
                                        <img src="{% static 'recipes/images/content/auth-00.png' %}" alt="">
                                        {% endif%}
                                    </figure><!-- end comment-author vcard -->

                                    <div class="comment-wrapper">
                                        <div class="comment-meta">
                                            <b class="fn">{{comment.author}}</b>
                                            <!-- <div class="reply">
                                                <a href="#" class="comment-reply-link">إجابة</a>
                                            </div> -->
                                        </div><!-- end comment-meta -->
                                        <div class="comment-metadata">
                                            <a href="#">
                                                <time datetime="2019-09-04T18:44:25+00:00">{{comment.comment_date}}
                                                </time>
                                            </a>
                                        </div>
                                        <div class="comment-content">
                                            <p>{{comment.body}}</p>
                                        </div><!-- end comment-content -->
                                    </div><!-- end comment-wrapper -->

                                </div><!-- end comment-body -->
                            </li><!-- end li -->
                            {% endfor %}

                        </ol><!-- end .comment-list -->
                    </div><!-- end #comments-area -->

                    <div id="respond" class="comment-respond">
                        <h2 id="reply-title" class="comment-reply-title"> شارك بالتعليق علي هذه الوصفة</h2>
                        <form class="comment-form" action="{% url 'recipes:recipe-comment' recipe.id %}" method="POST">
                            {% csrf_token %}
                            <!-- <p class="comment-notes">لن يتم مشاركة اي من معلوماتك</p>
                            <p class="comment-form-email">
                                <label for="author">الاسم</label>
                                <span class="required">*</span>
                                <input id="author" type="text" class="input-text" name="author">
                            </p>
                            <p class="comment-form-author">
                                <label for="email">البريد الالكتروني</label>
                                <span class="required">*</span>
                                <input id="email" type="text" class="input-text" name="email">
                            </p> -->
                            <p class="comment-form-comment">
                                <label for="comment">التعليق</label>
                                <textarea name="comment" id="comment" cols="45" rows="5" class="input-text"></textarea>
                            </p>
                            <p class="form-submit">
                                <input class="btn btn-primary" name="submit" type="submit" id="button"
                                    value="أضف تعليق">
                            </p>
                        </form><!-- end #comment-form -->
                    </div><!-- end comment-respond -->

                </div><!-- end comment-outer -->
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}