{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="head-title">
            <div class="container">
                <h2 class="page-title">Recipe Index</h2>
            </div><!-- end container -->
        </div><!-- end head-title -->

        <div id="main">
            <div class="container">

                <div class="recipe-index card-columns">
                    {% for category in categories %}
                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>{{category.name}}</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">All</a>
                                        <span>38</span>
                                    </li>
                                    <li>
                                        <a href="#">آسيوي</a>
                                        <span>3</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->
                    {% endfor %}
                </div><!-- end card colum -->

            </div><!-- end container -->
        </div><!-- end main -->

{% endblock %}