{% extends 'base.html' %} {% load static %} {% block content %}
<div class="head-title">
    <div class="container">
        <h2 class="page-title">اضف وصفتك</h2>
    </div>
    <!-- end container -->
</div>
<!-- end head-title -->

<div id="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="submit-recipe col-md-8">
                <header>
                    <h3>مرحبا بك ..</h3>
                    <p> نشكرك علي مشاركتنا وصفتك</p>
                </header>
                <form action="{% url 'recipes:submit-recipe' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="InputRecipeTitle">اسم الوصفة</label>
                            <input type="text" class="form-control" value="{{recipe.name}}" id="InputRecipeTitle" aria-describedby="titleHelp" placeholder="مثال : بسبوسة" name="name" required>
                            <small id="titleHelp" class="form-text text-muted">Keep it short and descriptive</small>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="recipeCatFormControlSelect">فئة الوصفة</label>
                            <input class="form-control" value="{{recipe.category}}" id="recipeCatFormControlSelect" list=category_list name="category" placeholder="اختار او ابحث عن فئة لوصفتك ..">
                            <datalist id="category_list">
                              <select size={{categories|length}}>
                                {% for category in categories %}
                                <option value="{{category}}">{{category}}
                                {% endfor%}
                              </select>
                            </datalist>
                        </div>
                        <!-- end col -->
                        <!-- <div class="col-12 col-md-6 form-group">
                            <label for="recipeImage">فئة اخري</label>
                            <input type="text" class="form-control-file" id="recipeImage" aria-describedby="sizeHelp" name="other_category">
                        </div> -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="recipeImage">صورة الوصفة</label>
                            <input type="file" class="form-control-file" id="recipeImage" aria-describedby="sizeHelp" name="recipeImage" required>
                            <small id="sizeHelp" class="form-text text-muted">Recommended size: 1440px by 800px or
                                larger</small>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col form-group">
                            <label for="descTextarea">الوصف</label>
                            <input name="description" class="form-control" value="{{recipe.description}}" id="descTextarea" rows="6" required></input>
                        </div>
                        <!-- end form-group -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="timeRange1">وقت التحضير</label>
                            <input name="prep_time" type="number" value="{{recipe.prep_time}}" class="form-control" min="1" max="90" step="1" id="timeRange1" required>
                        </div>

                        <div class="col-12 col-md-6 form-group">
                            <label for="timeRange1"> حجم الوجبة يكفي (اشخاص)</label>
                            <input name="feeds_up_to" type="number" value="{{recipe.feeds_up_to}}" class="form-control" min="1" max="90" step="1" id="timeRange1" required>
                        </div>
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-12 form-group">

                            <label for="tag_div">العلامات</label>
                            <div id="tag_div">
                                <input type="text" id="tags-array" value="{{recipe.tags}}" name="tags-array" />
                            </div>
                            <hr>

                        </div>
                    </div>


                    <!-- end row -->
                    <!-- 
                    <div class="row">
                        <div class="col nutrition-box">
                            <div class="inner">
                                <h3>حقائق الوصفة الغذائية </h3>
                                <div class="form-row">
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition1">اجمالي الدهون</label>
                                        <input type="text" class="form-control" id="totalFatA" placeholder="amount">
                                        <input type="text" class="form-control" id="totalFatP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition2">حجم الوجبة</label>
                                        <input type="text" class="form-control" id="mealSizeA" placeholder="amount">
                                        <input type="text" class="form-control" id="mealSizeP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition3">سعرات حراريه</label>
                                        <input type="text" class="form-control" id="calA" placeholder="amount">
                                        <input type="text" class="form-control" id="calP" placeholder="%">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition4">الدهون المشبعة</label>
                                        <input type="text" class="form-control" id="fatsA" placeholder="amount">
                                        <input type="text" class="form-control" id="fatsP" placeholder="daily %">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition5">الدهون الأحادية غير المشبعة</label>
                                        <input type="text" class="form-control" id="fats1A" placeholder="amount">
                                        <input type="text" class="form-control" id="fats1P" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition6">دهون غير مشبعة</label>
                                        <input type="text" class="form-control" id="fats2A" placeholder="amount">
                                        <input type="text" class="form-control" id="fats2P" placeholder="%">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition7">صوديوم</label>
                                        <input type="text" class="form-control" id="sodiumA" placeholder="amount">
                                        <input type="text" class="form-control" id="sodiumP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition8">ألياف</label>
                                        <input type="text" class="form-control" id="fibersA" placeholder="amount">
                                        <input type="text" class="form-control" id="fibersP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition9">الكوليسترول</label>
                                        <input type="text" class="form-control" id="colestrolA" placeholder="amount">
                                        <input type="text" class="form-control" id="colestrolP" placeholder=" %">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition10">اجمالي الكربوهيدرات</label>
                                        <input type="text" class="form-control" id="carbA" placeholder="amount">
                                        <input type="text" class="form-control" id="carbP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition11">الدهون المتحولة</label>
                                        <input type="text" class="form-control" id="fats3A" placeholder="amount">
                                        <input type="text" class="form-control" id="fats3P" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition12">البروتين</label>
                                        <input type="text" class="form-control" id="protienA" placeholder="amount">
                                        <input type="text" class="form-control" id="protienP" placeholder="%">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition13">السكر</label>
                                        <input type="text" class="form-control" id="sugerA" placeholder="amount">
                                        <input type="text" class="form-control" id="sugerP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition14">البوتاسيوم</label>
                                        <input type="text" class="form-control" id="postaiumA" placeholder="amount">
                                        <input type="text" class="form-control" id="postaiumP" placeholder="%">
                                    </div>
                                </div>
                                <!-- end form-row -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- end nutrition box -->
                    <!-- </div>  -->
                    <!-- end row -->

                    <div>
                        <p class="form-submit">
                            <input class="btn btn-primary col-12" name="submit" type="submit" id="button" value="أضف وصفة">
                        </p>
                    </div>


                </form>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end main -->


<script>
    var add_tag_btn = document.getElementById('add-tag-btn');
    var tag_name = document.getElementById('tag-name');
    var list = document.getElementById('list');
    var tags_array = document.getElementById('tags-array');
    var items = [];

    add_tag_btn.addEventListener('click', function(e) {
        e.preventDefault()

        let val = tag_name.value;
        if (val !== '') {
            if (items.indexOf(val) >= 0) {
                alert('العلامة موجوده مسبقا !');
            } else {
                items.push(val);
                render();
                tag_name.value = '';
                tag_name.focus();
            }

        } else {
            alert('اضف علامة!');
        }
        tags_array.value = items;
        console.log("tags_array = " + tags_array.value);
    });

    function render() {
        list.innerHTML = '';
        items.map((item, index) => {
            list.innerHTML += `<li><span>${item}</span><a href="javascript: remove(${index})"> <img src="{% static 'images/assets/exit.svg' %}">  </a></li>`;
        });
    }

    function remove(i) {
        items = items.filter(item => items.indexOf(item) != i);
        render();
    }

    window.onload = function() {
        render();
        // tag_name.focus();
    }

    // drag and drop for recipe instruction steps
    var add_step_btn = document.getElementById('add-step-btn');
    var step_name = document.getElementById('step-name');
    var steps_array = document.getElementById('steps-array');
    var steps_list = document.getElementById('steps-list');
    var steps = [];



    add_step_btn.addEventListener('click', function(e) {
        e.preventDefault()
        let val = step_name.value;
        if (val !== '') {
            if (steps.indexOf(val) >= 0) {
                alert('العلامة موجوده مسبقا !');
            } else {
                steps.push(val);
                render_steps();
                step_name.value = '';
                step_name.focus();
            }

        } else {
            alert('أضف خطوه للتحضير !');
        }
    });

    function render_steps() {
        steps_list.innerHTML = '';

        steps.map((step, step_index) => {
            var li_item = document.createElement("li");
            li_item.innerHTML = step_name.value;
            steps_list.innerHTML += `<li><span>${step}</span><a href="javascript: remove_step(${step_index})"> <img src="{% static 'images/assets/exit.svg' %}">  </a></li>`;
            enableDragSort('drag-sort-enable');
            steps_array.value = steps;
        });
    }

    function remove_step(i) {
        steps = steps.filter(step => steps.indexOf(step) != i);
        steps_array.value = steps;
        render_steps();
    }

    window.onload = function() {
        render_steps();
    }

    function enableDragSort(listClass) {
        const sortableLists = document.getElementsByClassName(listClass);
        Array.prototype.map.call(sortableLists, (list) => {
            enableDragList(list)
        });
    }

    function enableDragList(list) {
        Array.prototype.map.call(list.children, (item) => {
            enableDragItem(item)
        });
    }

    function enableDragItem(item) {
        item.setAttribute('draggable', true)
        item.ondrag = handleDrag;
        item.ondragend = handleDrop;

    }

    function handleDrag(item) {
        const selectedItem = item.target,
            list = selectedItem.parentNode,
            x = event.clientX,
            y = event.clientY;
        selectedItem.classList.add('drag-sort-active');

        let swapItem = document.elementFromPoint(x, y) === null ? selectedItem : document.elementFromPoint(x, y);

        if (list === swapItem.parentNode) {
            swapItem = swapItem !== selectedItem.nextSibling ? swapItem : swapItem.nextSibling;
            list.insertBefore(selectedItem, swapItem);
        }
    }

    function handleDrop(item) {
        item.target.classList.remove('drag-sort-active');
        var $lis = $('ol li');

        steps = []
        for (var i = 0; i < $lis.length; i++) {
            steps.push($('ol li:eq(' + i + ')').text());
        }
        steps_array.value = steps;

    }

    (() => {
        enableDragSort('drag-sort-enable')
    })();

    // ingredient component
    var add_ing_btn = document.getElementById("add-ing-btn");

    var ing_category = document.getElementsByName('ing_category');
    var ing_name = document.getElementsByName('ing_name');
    var ing_quantity = document.getElementsByName('ing_quantity');
    var ing_unit = document.getElementsByName('ing_unit');

    var ing_list = document.getElementById('ing_list');
    var ing_array = document.getElementById('ing-array');
    var ingredients = [];
    // var single_item = [];

    add_ing_btn.addEventListener('click', function(e) {
        e.preventDefault()

        let cat = ing_category.value;
        let namee = ing_name.value;
        let quan = ing_quantity.value;
        let unit = ing_unit.value;
        if (cat !== '' & namee !== '' & quan !== '' & unit !== '') {
            if (ingredients.indexOf(namee) >= 0) {
                alert('المكون موجوده مسبقا !');
            } else {
                // single_item['category'] = ing_category.value;
                // single_item['name'] = ing_name.value;
                // single_item['quantity'] = ing_quantity.value;
                // single_item['unit'] = ing_unit.value;
                // console.log("single on add = " + single_item);
                ingredients.push({
                    category: ing_category.value,
                    name: ing_name.value,
                    quantity: ing_quantity.value,
                    unit: ing_unit.value,

                });
                render_ingredients();
                ing_category.value = '';
                ing_name.value = '';
                ing_quantity.value = '';
                ing_unit.value = '';
                // ing_name.focus();
            }

        } else {
            alert('اضف مكون للوصفة!');
        }
        ing_array.value = ingredients;
        console.log("ing_array = " + ingredients);
    });

    function render_ingredients() {
        ing_list.innerHTML = '';
        ingredients.map((single_ing, index) => {
            console.log("singel = " + single_ing);
            ing_list.innerHTML += `<li><span>${single_ing}</span><a href="javascript: remove_ingredients(${index})"> <img src="{% static 'images/assets/exit.svg' %}">  </a></li>`;
        });
    }

    function remove_ingredients(i) {
        ingredients = ingredients.filter(item => ingredients.indexOf(item) != i);
        render_ingredients();
    }

    window.onload = function() {
        render_ingredients();
    }
</script>
{% endblock %}