{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="head-title">
            <div class="container">
                <h2 class="page-title">Recipe Index</h2>
            </div><!-- end container -->
        </div><!-- end head-title -->

        <div id="main">
            <div class="container">

                <div class="recipe-index card-columns">
                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>A</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">All</a>
                                        <span>38</span>
                                    </li>
                                    <li>
                                        <a href="#">آسيوي</a>
                                        <span>3</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->

                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>B</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">موز</a>
                                        <span>4</span>
                                    </li>
                                    <li>
                                        <a href="#">لحوم</a>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <a href="#">أسماك</a>
                                        <span>5</span>
                                    </li>
                                    <li>
                                        <a href="#">Bajigur</a>
                                        <span>8</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->

                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>C</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">Cheese</a>
                                        <span>10</span>
                                    </li>
                                    <li>
                                        <a href="#">Chicken</a>
                                        <span>7</span>
                                    </li>
                                    <li>
                                        <a href="#">Chocolate</a>
                                        <span>5</span>
                                    </li>
                                    <li>
                                        <a href="#">Coffee</a>
                                        <span>8</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->

                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>D</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">Duck Rice</a>
                                        <span>4</span>
                                    </li>
                                    <li>
                                        <a href="#">Durian Cake</a>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <a href="#">Delima Red</a>
                                        <span>5</span>
                                    </li>
                                    <li>
                                        <a href="#">Dendeng</a>
                                        <span>8</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->

                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>F</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">Fruit Party</a>
                                        <span>18</span>
                                    </li>
                                    <li>
                                        <a href="#">Fish</a>
                                        <span>6</span>
                                    </li>
                                    <li>
                                        <a href="#">Fresh Tofu</a>
                                        <span>4</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->

                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>G</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">Grill</a>
                                        <span>6</span>
                                    </li>
                                    <li>
                                        <a href="#">Gorengan</a>
                                        <span>12</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->

                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>L</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">Lumpia</a>
                                        <span>9</span>
                                    </li>
                                    <li>
                                        <a href="#">Lunch</a>
                                        <span>7</span>
                                    </li>
                                    <li>
                                        <a href="#">Lemper</a>
                                        <span>5</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->

                    <div class="card">
                        <div class="index-box">
                            <div class="index-head">
                                <h3>S</h3>
                            </div>
                            <div class="index-list">
                                <ul>
                                    <li>
                                        <a href="#">Sausage</a>
                                        <span>9</span>
                                    </li>
                                    <li>
                                        <a href="#">Seafood</a>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <a href="#">Spicy</a>
                                        <span>5</span>
                                    </li>
                                    <li>
                                        <a href="#">Steak</a>
                                        <span>8</span>
                                    </li>
                                </ul>
                            </div><!-- end index-list -->
                        </div><!-- end index-box -->
                    </div><!-- end col -->


                </div><!-- end card colum -->

            </div><!-- end container -->
        </div><!-- end main -->

{% endblock %}