{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="head-title">
    <div class="container">
        <h2 class="page-title">اضف وصفتك</h2>
    </div><!-- end container -->
</div><!-- end head-title -->

<div id="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="submit-recipe col-md-8">
                <header>
                    <h3>مرحبا بك ..</h3>
                    <p> نشكرك علي مشاركتنا وصفتك</p>
                </header>
                <form action="{% url 'recipes:submit-recipe' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="InputRecipeTitle">اسم الوصفة</label>
                            <input type="text" class="form-control" id="InputRecipeTitle" aria-describedby="titleHelp"
                                placeholder="مثال : بسبوسة" name="name" required>
                            <small id="titleHelp" class="form-text text-muted">Keep it short and descriptive</small>
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="recipeCatFormControlSelect">فئة الوصفة</label>
                            <select required class="form-control" id="recipeCatFormControlSelect" name="category">
                                <option selected>اختر الفئة</option>
                                {% for category in categories %}
                                <option value="{{category.name}}">{{category.name}}</option>
                                {% endfor%}
                                <option value="other">اخري</option>

                            </select>
                        </div><!-- end col -->
                        <div class="col-12 col-md-6 form-group">
                            <label for="recipeImage">فئة اخري</label>
                            <input type="text" class="form-control-file" id="recipeImage" aria-describedby="sizeHelp"
                                name="other_category">
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="recipeImage">صورة الوصفة</label>
                            <input type="file" class="form-control-file" id="recipeImage" aria-describedby="sizeHelp"
                                name="recipeImage" required>
                            <small id="sizeHelp" class="form-text text-muted">Recommended size: 1440px by 800px or
                                larger</small>
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col form-group">
                            <label for="descTextarea">الوصف</label>
                            <textarea name="description" class="form-control" id="descTextarea" rows="6" required></textarea>
                        </div><!-- end form-group -->
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="timeRange1">وقت التحضير</label>
                            <input name="prep_time" type="number" value="1" class="form-control" min="1" max="90"
                                step="1" id="timeRange1" required>
                        </div>

                        <div class="col-12 col-md-6 form-group">
                            <label for="timeRange1">حجم الوجبة يكفي</label>
                            <input name="feeds_up_to" type="number" value="1" class="form-control" min="1" max="90"
                                step="1" id="timeRange1" required>
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="ingredientTextarea">العلامات</label>
                            <textarea name="tags" class="form-control" id="ingredientTextarea"
                                aria-describedby="ingredientHelp" rows="4" required></textarea>
                            <small id="ingredientHelp" class="form-text text-muted"> 
                                ادخل العلامات متبوعه بعلامه "," مثال "مخبوزات , معجنات, حلويات "
                            </small>
                        </div><!-- end form-group -->

                        <div class="col-12 form-group">
                            <label for="ingredientTextarea">المكونات والمقادير</label>
                            <textarea name="ingredients" class="form-control" id="ingredientTextarea"
                                aria-describedby="ingredientHelp" rows="6" required ></textarea>
                            <small id="ingredientHelp" class="form-text text-muted">Enter one ingredient per line.</small>
                        </div><!-- end form-group -->

                        <div class="col-12 form-group">
                            <label for="directionTextarea">طريقة الاعداد</label>
                            <textarea name="instructions" class="form-control" id="directionTextarea"
                                aria-describedby="directionHelp" rows="6" required></textarea>
                            <small id="directionHelp" class="form-text text-muted">Every Step in single line please</small>
                        </div><!-- end form-group -->


                    </div><!-- end row -->
<!-- 
                    <div class="row">
                        <div class="col nutrition-box">
                            <div class="inner">
                                <h3>حقائق الوصفة الغذائية </h3>
                                <div class="form-row">
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition1">اجمالي الدهون</label>
                                        <input type="text" class="form-control" id="totalFatA" placeholder="amount">
                                        <input type="text" class="form-control" id="totalFatP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition2">حجم الوجبة</label>
                                        <input type="text" class="form-control" id="mealSizeA" placeholder="amount">
                                        <input type="text" class="form-control" id="mealSizeP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition3">سعرات حراريه</label>
                                        <input type="text" class="form-control" id="calA" placeholder="amount">
                                        <input type="text" class="form-control" id="calP" placeholder="%">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition4">الدهون المشبعة</label>
                                        <input type="text" class="form-control" id="fatsA" placeholder="amount">
                                        <input type="text" class="form-control" id="fatsP" placeholder="daily %">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition5">الدهون الأحادية غير المشبعة</label>
                                        <input type="text" class="form-control" id="fats1A" placeholder="amount">
                                        <input type="text" class="form-control" id="fats1P" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition6">دهون غير مشبعة</label>
                                        <input type="text" class="form-control" id="fats2A" placeholder="amount">
                                        <input type="text" class="form-control" id="fats2P" placeholder="%">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition7">صوديوم</label>
                                        <input type="text" class="form-control" id="sodiumA" placeholder="amount">
                                        <input type="text" class="form-control" id="sodiumP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition8">ألياف</label>
                                        <input type="text" class="form-control" id="fibersA" placeholder="amount">
                                        <input type="text" class="form-control" id="fibersP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition9">الكوليسترول</label>
                                        <input type="text" class="form-control" id="colestrolA" placeholder="amount">
                                        <input type="text" class="form-control" id="colestrolP" placeholder=" %">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition10">اجمالي الكربوهيدرات</label>
                                        <input type="text" class="form-control" id="carbA" placeholder="amount">
                                        <input type="text" class="form-control" id="carbP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition11">الدهون المتحولة</label>
                                        <input type="text" class="form-control" id="fats3A" placeholder="amount">
                                        <input type="text" class="form-control" id="fats3P" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition12">البروتين</label>
                                        <input type="text" class="form-control" id="protienA" placeholder="amount">
                                        <input type="text" class="form-control" id="protienP" placeholder="%">
                                    </div>

                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition13">السكر</label>
                                        <input type="text" class="form-control" id="sugerA" placeholder="amount">
                                        <input type="text" class="form-control" id="sugerP" placeholder="%">
                                    </div>
                                    <div class="form-group col-6 col-md-4">
                                        <label for="inputNutrition14">البوتاسيوم</label>
                                        <input type="text" class="form-control" id="postaiumA" placeholder="amount">
                                        <input type="text" class="form-control" id="postaiumP" placeholder="%">
                                    </div>
                                </div>
                                <!-- end form-row -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <!-- end nutrition box -->
                    <!-- </div>  -->
                    <!-- end row -->

                    <div class="row">
                        <p class="form-submit">
                            <input class="btn btn-primary" name="submit" type="submit" id="button" value="أضف وصفة">
                        </p>
                    </div>


                </form>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end main -->

{% endblock %}