{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="head-title">
    <div class="container">
        <h2 class="page-title">اضف وصفتك</h2>
    </div><!-- end container -->
</div><!-- end head-title -->

<div id="main">
    <div class="container">

        <div class="row justify-content-center">
            <div class="submit-recipe col-md-8">
                <header>
                    <h3>مرحبا بك ..</h3>
                    <p> نشكرك علي مشاركتنا وصفتك</p>
                </header>
                <form>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="InputRecipeTitle">اسم الوصفة</label>
                            <input type="text" class="form-control" id="InputRecipeTitle" aria-describedby="titleHelp"
                                placeholder="مثال : بسبوسة">
                            <small id="titleHelp" class="form-text text-muted">Keep it short and descriptive</small>
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="recipeCatFormControlSelect">فئة الوصفة</label>
                            <select class="form-control" id="recipeCatFormControlSelect">
                                <option selected>اختر الفئة</option>
                                <option value="1">Asian</option>
                                <option value="2">Breakfast</option>
                                <option value="3">Party</option>
                            </select>
                        </div><!-- end col -->
                        <div class="col-12 col-md-6 form-group">
                            <label for="recipeImage">فئة اخري</label>
                            <input type="text" class="form-control-file" id="recipeImage" aria-describedby="sizeHelp">
                        </div>
                    </div><!-- end row -->


                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="recipeImage">صورة الوصفة</label>
                            <input type="file" class="form-control-file" id="recipeImage" aria-describedby="sizeHelp">
                            <small id="sizeHelp" class="form-text text-muted">Recommended size: 1440px by 800px or
                                larger</small>
                        </div>
                    </div><!-- end row -->


                    <div class="row">
                        <div class="col form-group">
                            <label for="descTextarea">الوصف</label>
                            <textarea class="form-control" id="descTextarea" rows="6"></textarea>
                        </div><!-- end form-group -->
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="timeRange1">وقت التحضير</label>
                            <input type="number" value="1" class="form-control" min="1" max="90" step="1"
                                id="timeRange1">
                        </div>

                        <div class="col-12 col-md-6 form-group">
                            <label for="timeRange1">حجم الوجبة يكفي</label>
                            <input type="number" value="1" class="form-control" min="1" max="90" step="1"
                                id="timeRange1">
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="ingredientTextarea">العلامات</label>
                            <textarea class="form-control" id="ingredientTextarea" aria-describedby="ingredientHelp"
                                rows="4"></textarea>
                            <small id="ingredientHelp" class="form-text text-muted">Enter one ingredient per line. Use a
                                double dash to start new section titles. (ex. --Section Title). Separate the ingredient
                                amount from the ingredient name with double space if you want to follow Google's rich
                                snippets formatting.</small>
                        </div><!-- end form-group -->

                        <div class="col-12 form-group">
                            <label for="ingredientTextarea">المكونات والمقادير</label>
                            <textarea class="form-control" id="ingredientTextarea" aria-describedby="ingredientHelp"
                                rows="6"></textarea>
                            <small id="ingredientHelp" class="form-text text-muted">Enter one ingredient per line. Use a
                                double dash to start new section titles. (ex. --Section Title). Separate the ingredient
                                amount from the ingredient name with double space if you want to follow Google's rich
                                snippets formatting.</small>
                        </div><!-- end form-group -->

                        <div class="col-12 form-group">
                            <label for="directionTextarea">طريقة الاعداد</label>
                            <textarea class="form-control" id="directionTextarea" aria-describedby="directionHelp"
                                rows="6"></textarea>
                            <small id="directionHelp" class="form-text text-muted">Add all of the cooking steps, one per
                                line. You can use a double dash for section titles (ex. --Section Title). You can also
                                use the [timer length=30]30 Minutes[/timer] shortcode to add a timer link.</small>
                        </div><!-- end form-group -->


                    </div><!-- end row -->

                    <div class="row">
                        <div class="col nutrition-box">
                            <div class="inner">
                                <h3>حقائق الوصفة الغذائية </h3>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition1">اجمالي الدهون</label>
                                            <input type="text" class="form-control" id="inputNutrition1">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition2">حجم الوجبة</label>
                                            <input type="text" class="form-control" id="inputNutrition2">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition3">سعرات حراريه</label>
                                            <input type="text" class="form-control" id="inputNutrition3">
                                        </div>

                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition4">الدهون المشبعة</label>
                                            <input type="text" class="form-control" id="inputNutrition4">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition5">الدهون الأحادية غير المشبعة</label>
                                            <input type="text" class="form-control" id="inputNutrition5">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition6">دهون غير مشبعة</label>
                                            <input type="text" class="form-control" id="inputNutrition6">
                                        </div>

                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition7">صوديوم</label>
                                            <input type="text" class="form-control" id="inputNutrition7">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition8">ألياف</label>
                                            <input type="text" class="form-control" id="inputNutrition8">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition9">الكوليسترول</label>
                                            <input type="text" class="form-control" id="inputNutrition9">
                                        </div>

                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition10">اجمالي الكربوهيدرات</label>
                                            <input type="text" class="form-control" id="inputNutrition10">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition11">الدهون المتحولة</label>
                                            <input type="text" class="form-control" id="inputNutrition11">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition12">البروتين</label>
                                            <input type="text" class="form-control" id="inputNutrition12">
                                        </div>

                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition13">السكر</label>
                                            <input type="text" class="form-control" id="inputNutrition13">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="inputNutrition14">البوتاسيوم</label>
                                            <input type="text" class="form-control" id="inputNutrition14">
                                        </div>
                                    </div><!-- end form-row -->
                                </form>
                            </div><!-- end inner -->
                        </div><!-- end nutrition box -->
                    </div><!-- end row -->
                </form>


                <button type="submit" class="btn btn-primary">أضف الوصفة</button>
            </div><!-- end col -->

        </div><!-- end row -->

    </div><!-- end container -->
</div><!-- end main -->

{% endblock %}