{% extends 'account/base.html' %}
{% block content %}
    <div class="head-title">
        <div class="container">
            <h2 class="page-title">{% block head_title %}{% endblock %}</h2>
        </div><!-- end container -->
    </div><!-- end head-title -->
    <div id="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="acc-box equal">
                        <form>
                            <input list="browsers"
                                   type="text"
                                   name="browser"
                                   autocomplete="off">
                            <datalist id="browsers">
                                <select>
                                    <option value="المطبخ الإيطالي">
                                    <option value="المطبخ الشركسي">
                                    <option value="المطبخ الشرقي">
                                    <option value="أكلات غربية">
                                    <option value="المطبخ الآسيوي">
                                </select>
                            </datalist>
                            <input type="submit">
                        </form>
                        <hr>
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {#$("select").click(function (e) {#}
        {#    if ($("[list=browsers]").val() == "") {#}
        {#        e.preventDefault();#}
        {#    }#}
        {#})
        ;
        #}
    </script>
{% endblock %}

