{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="head-title">
        <div class="container">
            <h2 class="page-title">تدوينة</h2>
        </div><!-- end container -->
    </div><!-- end head-title -->

    <div id="main">
        <div class="container">
            <div class="row">

                <div id="primary" class="content-area col-md-8">
                    <div id="content" class="site-content">

                        <div class="post format-image hentry">

                            <div class="entry-format">
                                <div class="entry-meta">
                                    <div class="entry-date">
                                        <a href="#">
                                            <time class="published" datetime="2019-12-22"
                                                  title="December 22, 2019 - 21:12 pm">Dec<span class="date">22</span>2019
                                            </time>
                                        </a>
                                    </div><!-- end entry-date -->


                                    <div class="social-shares">
                                            <span class="head-share">
                                                <i class="fas fa-share-alt"></i>
                                            </span>
                                        <div class="other-share">
                                            <a href="#" class="facebook">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                            <a href="#" class="twitter">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#" class="linkedin">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                            <a href="#" class="google-plus">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                            <a href="#" class="pinterest">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </div><!-- end other-share -->
                                    </div><!-- end social-share -->

                                </div><!-- end entry-meta -->
                            </div><!-- end entry-format -->

                            <div class="inner">

                                <div class="entry-header">
                                        <span class="author vcard">الناشر: <a href="#">مصطفى عبدالرحمن</a>
                                        </span><!-- end author -->
                                    <span class="cat-links">
                                            <a href="#">ميكانيكا</a>,
                                            <a href="#">متفرقة</a>,
                                            <a href="#">تصوير</a>
                                        </span><!-- end cat-links -->
                                    <div class="comment-link">
                                        <i class="fa fa-fw fa-comments"></i>
                                        <a href="#">3 تعليقات</a>
                                    </div>
                                </div><!-- end entry-header -->

                                <h1 class="entry-title">
                                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، </h1>

                                <div class="entry-content">
                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى
                                        إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من
                                        الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما
                                        ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث
                                        يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
                                    <figure class="wp-caption">
                                        <img src="{% static 'recipes/images/content/image-49.png' %}" alt="">
                                        <figcaption class="wp-caption-text">هذه الصورة من تصوير الفنان احمد السعيد
                                        </figcaption>
                                    </figure>
                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة،هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا
                                        النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة, هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،</p>
                                    <blockquote>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا النص هو مثال لنص
                                        يمكن أن يستبدل في نفس المساحة،
                                    </blockquote>
                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة، هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا
                                        النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،</p>
                                    <h2>حجم خط الترويسة</h2>
                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة، هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا
                                        النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة, هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،</p>
                                    <ul>
                                        <li>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</li>
                                        <li>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</li>
                                        <li>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</li>
                                        <li>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</li>
                                        <li>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</li>
                                    </ul>
                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا
                                        النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</p>
                                    <h4>الترويسة الثانية: الجدول</h4>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>الحقل الأول</th>
                                            <th>الحقل الثاني</th>
                                            <th>الحقل الثالث</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>القيمة الأولى</td>
                                            <td>القيمة الأولى</td>
                                            <td>القيمة الأولى</td>
                                        </tr>
                                        <tr>
                                            <td>القيمة الثانية</td>
                                            <td>القيمة الثانية</td>
                                            <td>القيمة الثانية</td>
                                        </tr>
                                        <tr>
                                            <td>القيمة الثالثة</td>
                                            <td>القيمة الثالثة</td>
                                            <td>القيمة الثالثة</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا
                                        النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا
                                        النص هو مثال لنص يمكن أن يستبدل في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة.</p>
                                    <p>
                                        <span>الفئات: <a href="#"><em>غير مصنف</em></a></span><br/>
                                        <span>علامات: <a href="#"><em>أخبار</em></a> ، <a href="#"><em>توثيق</em></a></span>
                                    </p>
                                </div><!-- end entry-content -->

                            </div><!-- end inner -->

                        </div><!-- end format-image hentry -->

                        <div class="author-wrapper">
                            <h2>عن الناشر:</h2>
                            <figure class="author-ava">
                                <img src="{% static 'recipes/images/content/auth-03.png' %}" alt="Author">
                            </figure>
                            <div class="author-context">

                                <div class="author-name">
                                    <a href="#">كارمن مسيح</a>
                                </div><!-- end auth-name -->

                                <div class="author-content">
                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل هذا النص هو مثال لنص يمكن أن يستبدل في نفس
                                        المساحة في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                        يستبدل في نفس المساحة</p>
                                </div>

                            </div><!-- end author-wrapper -->
                        </div><!-- end author-area -->

                        <div class="related-content">
                            <h2>مواضيع ذات عقة</h2>
                            <div class="row">

                                <div class="col-md-4">
                                    <figure>
                                        <img src="{% static 'recipes/images/content/blog-thumb-01.png' %}" alt="">
                                    </figure>
                                    <div class="related-title">
                                        <h3><a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a></h3>
                                    </div>
                                </div><!-- end column -->

                                <div class="col-md-4">
                                    <figure>
                                        <img src="{% static 'recipes/images/content/blog-thumb-02.png' %}" alt="">
                                    </figure>
                                    <div class="related-title">
                                        <h3><a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a></h3>
                                    </div>
                                </div><!-- end column -->

                                <div class="col-md-4">
                                    <figure>
                                        <img src="{% static 'recipes/images/content/blog-thumb-03.png' %}" alt="">
                                    </figure>
                                    <div class="related-title">
                                        <h3><a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a></h3>
                                    </div>
                                </div><!-- end column -->

                            </div><!-- end row -->
                        </div><!-- end related-content -->

                        <div class="comment-outer">
                            <div id="comments" class="comments-area">
                                <h2 class="comments-title">4 تعليقات</h2>
                                <ol class="comment-list">

                                    <li class="comment"><!-- start comment -->
                                        <div class="comment-body">

                                            <figure class="comment-author vcard">
                                                <img src="{% static 'recipes/images/content/auth-00.png' %}" alt="">
                                            </figure><!-- end comment-author vcard -->

                                            <div class="comment-wrapper">
                                                <div class="comment-meta">
                                                    <b class="fn">علي عبدالله</b>
                                                    <div class="reply">
                                                        <a href="#" class="comment-reply-link">أجب</a>
                                                    </div>
                                                </div><!-- end comment-meta -->
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <time datetime="2019-09-04T18:44:25+00:00">15 أيار 2020 الساعة
                                                            1530
                                                        </time>
                                                    </a>
                                                </div>
                                                <div class="comment-content">
                                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس
                                                        المساحة في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس المساحة</p>
                                                </div><!-- end comment-content -->
                                            </div><!-- end comment-wrapper -->

                                        </div><!-- end comment-body -->
                                    </li><!-- end li -->

                                    <li class="comment"><!-- start comment -->
                                        <div class="comment-body">

                                            <figure class="comment-author vcard">
                                                <img src="{% static 'recipes/images/content/auth-01.png' %}" alt="">
                                            </figure><!-- end comment-author vcard -->

                                            <div class="comment-wrapper">
                                                <div class="comment-meta">
                                                    <b class="fn">Paijo Kossim</b>
                                                    <div class="reply">
                                                        <a href="#" class="comment-reply-link">أجب</a>
                                                    </div>
                                                </div><!-- end comment-meta -->
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <time datetime="2019-09-04T18:44:25+00:00">15 أيار 2020 الساعة
                                                            1530
                                                        </time>
                                                    </a>
                                                </div>
                                                <div class="comment-content">
                                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس
                                                        المساحة في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس المساحة</p>
                                                </div><!-- end comment-content -->
                                            </div><!-- end comment-wrapper -->

                                        </div><!-- end comment-body -->

                                        <ol class="children">
                                            <li class="comment"><!-- start-children-comment -->
                                                <div class="comment-body">

                                                    <figure class="comment-author vcard">
                                                        <img src="{% static 'recipes/images/content/auth-03.png' %}"
                                                             alt="">
                                                    </figure><!-- end comment-author vcard -->

                                                    <div class="comment-wrapper">
                                                        <div class="comment-meta">
                                                            <b class="fn">Dina Makulatuwa</b>
                                                            <div class="reply">
                                                                <a href="#" class="comment-reply-link">Reply</a>
                                                            </div>
                                                        </div><!-- end comment-meta -->
                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2019-09-04T18:44:25+00:00">December 23
                                                                    2019 pada 6:44 pm
                                                                </time>
                                                            </a>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>هذا النص هو مثال لنص يمكن أن يستبدل هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس
                                                        المساحة في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس المساحة</p>
                                                        </div><!-- end comment-content -->
                                                    </div><!-- end comment-wrapper -->

                                                </div><!-- end comment-body -->
                                            </li><!-- end comment -->
                                        </ol><!-- end children -->
                                    </li><!-- end li -->

                                    <li class="comment"><!-- start comment -->
                                        <div class="comment-body">

                                            <figure class="comment-author vcard">
                                                <img src="{% static 'recipes/images/content/auth-02.png' %}" alt="">
                                            </figure><!-- end comment-author vcard -->

                                            <div class="comment-wrapper">
                                                <div class="comment-meta">
                                                    <b class="fn">Johnny Kurniawan</b>
                                                    <div class="reply">
                                                        <a href="#" class="comment-reply-link">Reply</a>
                                                    </div>
                                                </div><!-- end comment-meta -->
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <time datetime="2019-09-04T18:44:25+00:00">December 23 2019 pada
                                                            6:44 pm
                                                        </time>
                                                    </a>
                                                </div>
                                                <div class="comment-content">
                                                    <p>هذا النص هو مثال لنص يمكن أن يستبدل هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس
                                                        المساحة في نفس المساحة هذا النص هو مثال لنص يمكن أن
                                                        يستبدل في نفس المساحة</p>
                                                </div><!-- end comment-content -->
                                            </div><!-- end comment-wrapper -->

                                        </div><!-- end comment-body -->
                                    </li><!-- end li -->

                                </ol><!-- end .comment-list -->
                            </div><!-- end #comments-area -->

                            <div id="respond" class="comment-respond">
                                <h2 id="reply-title" class="comment-reply-title">شارك بالتعليق</h2>
                                <form class="comment-form">
                                    {% csrf_token %}
                                    <p class="comment-notes">Your email address will not be published. All fields are
                                        required.</p>
                                    <p class="comment-form-email">
                                        <label for="author">Name</label>
                                        <span class="required">*</span>
                                        <input id="author" type="text" class="input-text" name="author">
                                    </p>
                                    <p class="comment-form-author">
                                        <label for="email">Email</label>
                                        <span class="required">*</span>
                                        <input id="email" type="text" class="input-text" name="author">
                                    </p>
                                    <p class="comment-form-url">
                                        <label for="url">Website</label>
                                        <span class="required">*</span>
                                        <input id="url" type="text" class="input-text" name="author">
                                    </p>
                                    <p class="comment-form-comment">
                                        <label for="comment">Comment</label>
                                        <textarea name="comment" id="comment" cols="45" rows="10"
                                                  class="input-text"></textarea>
                                    </p>
                                    <p class="form-submit">
                                        <input class="btn btn-primary" name="submit" type="submit" id="button"
                                               value="نشر">
                                    </p>
                                </form><!-- end #comment-form -->
                            </div><!-- end comment-respond -->

                        </div><!-- end comment-outer -->
                    </div><!-- end content -->
                </div><!-- end primary -->

                <div id="secondary" class="col-md-4">

                    <div id="search-2" class="widget widget_search">
                        <div class="widget-title-outer">
                            <h3 class="widget-title">البحث</h3>
                        </div>
                        <div class="searchform">
                            <form>
                                {% csrf_token %}
                                <input type="text" class="txt" name="s" placeholder="ابحث عن...">
                                <input type="submit" value="إبحث" class="btn btn-sm">
                            </form>
                        </div><!-- end searchform -->
                    </div><!-- end search widget -->

                    <div class="widget post-type-widget">
                        <div class="widget-title-outer">
                            <h3 class="widget-title">أحدث التدوينات</h3>
                        </div>
                        <ul>
                            <li>
                                    <span class="post-category">
                                        <a href="#">غير مصنف</a>
                                    </span>
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'recipes/images/content/thumb-post-01.png' %}"
                                                     alt=""></a>
                                </figure>
                                <span><h2 class="post-title">
                                    <a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،</a>
                                </h2>
                                    </span>
                            </li>
                            <li>
                                    <span class="post-category">
                                        <a href="#">Cooking Tips</a>
                                    </span>
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'recipes/images/content/thumb-post-02.png' %}"
                                                     alt=""></a>
                                </figure>
                                <h2 class="post-title">
                                    <a href="#">Euismod Tincidunt ut Laoreet Dolore Magna Aliquam</a>
                                </h2>
                            </li>
                            <li>
                                    <span class="post-category">
                                        <a href="#">Kitchen</a>
                                    </span>
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'recipes/images/content/thumb-post-03.png' %}"
                                                     alt=""></a>
                                </figure>
                                <h2 class="post-title">
                                    <a href="#">Ullamcorper Suscipit Lobortis Nisl ut Aliquip Commodo Consequat</a>
                                </h2>
                            </li>
                            <li>
                                    <span class="post-category">
                                        <a href="#">Vegetable</a>
                                    </span>
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="{% static 'recipes/images/content/thumb-post-04.png' %}"
                                                     alt=""></a>
                                </figure>
                                <h2 class="post-title">
                                    <a href="#">Quod Mazim Placerat Facer Possim Assum</a>
                                </h2>
                            </li>
                        </ul>
                    </div><!-- end widget -->

                    <div class="widget widget_categories">
                        <div class="widget-title-outer">
                            <h3 class="widget-title">فئات التدوينات</h3>
                        </div>
                        <ul>
                            <li>
                                <a class="float-right" href="#">نهفات الطبخ</a>
                                <span class="float-left">17</span>
                            </li>
                            <li>
                                <a class="float-right" href="#">المطبخ</a>
                                <span class="float-left">14</span>
                            </li>
                            <li>
                                <a class="float-right" href="#">Chef's Secret</a>
                                <span class="float-left">10</span>
                            </li>
                            <li>
                                <a class="float-right" href="#">Vegetable</a>
                                <span class="float-left">8</span>
                            </li>
                            <li>
                                <a class="float-right" href="#">Nutrition</a>
                                <span class="float-left">6</span>
                            </li>
                            <li>
                                <a class="float-right" href="#">Ingredients</a>
                                <span class="float-left">4</span>
                            </li>
                        </ul>
                    </div><!-- end widget -->

                    <div class="widget">
                        <div class="widget-title-outer">
                            <h3 class="widget-title">News Tags</h3>
                        </div>
                        <div class="tagcloud">
                            <a href="#">food</a>
                            <a href="#">ingredients</a>
                            <a href="#">chef</a>
                            <a href="#">kitchen</a>
                            <a href="#">vegetable</a>
                            <a href="#">cake</a>
                            <a href="#">beverage</a>
                            <a href="#">tips</a>
                            <a href="#">nutrition</a>
                            <a href="#">tools</a>
                        </div>
                    </div><!-- end widget -->

                    <div class="widget">
                        <a href="#"><img src="{% static 'recipes/images/content/banner.png' %}" alt="Banner"></a>
                    </div>

                    <div class="widget">
                        <div class="widget-title-outer">
                            <h3 class="widget-title">Our Facebook Page</h3>
                        </div>
                        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true"></iframe>
                    </div><!-- end widget -->

                </div><!-- end #secondary -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end main -->

{% endblock %}