{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="head-title">
    <div class="container">
        <h2 class="page-title">التدوينات</h2>
    </div><!-- end container -->
</div><!-- end head-title -->

<div id="main">
    <div class="container">
        <div class="row">

            <div id="primary" class="content-area col-md-8">
                <div id="content" class="site-content">
                    {% for post in posts %}
                    <div class="post format-quote hentry">

                        <div class="entry-format">
                            <div class="entry-meta">
                                <div class="entry-date">
                                    <a href="#">
                                        <time class="published" datetime="2019-12-22"
                                            title="December 22, 2019 - 21:12 pm">{{post.date_created|date}} </time>
                                    </a>
                                </div><!-- end entry-date -->
                            </div><!-- end entry-meta -->
                        </div><!-- end entry-format -->

                        <div class="inner">
                            <div class="entry-header">
                                <span class="cat-links">
                                    <a href="#">{{post.category}}</a>
                                </span>
                            </div><!-- end entry-header -->

                            <h1 class="entry-title">
                                <a href="{% url 'blog:blog-single'  post.id %}"> {{post.title}}</a>

                            </h1>
                            <div class="entry-header">
                                <span> الناشر : {{post.author}}</span>
                            </div><!-- end entry-header -->


                            <div class="entry-media">
                                <img src="{{post.image.url}}" alt="">
                            </div><!-- end entry-media -->

                            <div class="entry-content">
                                <p>{{post.body|truncatechars:300}}</p>
                            </div>
                        </div><!-- end inner -->
                    </div><!-- end format-image hentry -->
                    {% endfor %}
                </div><!-- end content -->


                <nav class="pagination-container" aria-label="Page navigation">
                    {% if is_paginated %}
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.previous_page_number}}">السابق</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">السابق</a>
                        </li>
                        {% endif %}


                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{ page_obj.next_page_number }}">التالي</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">التالي</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>

            </div><!-- end primary -->


            <div id="secondary" class="col-md-4">

                <div id="search-2" class="widget widget_search">
                    <div class="widget-title-outer">
                        <h3 class="widget-title">البحث</h3>
                    </div>
                    <div class="searchform">
                        <form action="{% url 'blog:search' %}" method="get">
                            {% csrf_token %}
                            <input type="text" class="txt" name="keyword" placeholder="ابحث عن...">
                            <input type="submit" value="إبحث" class="btn btn-sm">
                        </form>
                    </div><!-- end searchform -->
                </div><!-- end search widget -->

                <div class="widget post-type-widget">
                    <div class="widget-title-outer">
                        <h3 class="widget-title">أحدث التدوينات</h3>
                    </div>
                    <ul>
                        {% for post in recent_posts %}
                        <li>
                            <span class="post-category">
                                <a href="#">{{post.category}}</a>
                            </span>
                            <figure class="post-thumbnail">
                                <a href="{% url 'blog:blog-single'  post.id %}"><img src="{{post.image.url}}"
                                        alt=""></a>
                            </figure>
                            <h2 class="post-title">
                                <a href="{% url 'blog:blog-single'  post.id %}">{{post.title}}</a>
                            </h2>
                        </li>
                        {% endfor %}
                    </ul>
                </div><!-- end widget -->

                <div class="widget widget_categories">
                    <div class="widget-title-outer">
                        <h3 class="widget-title">فئات التدوينات</h3>
                    </div>
                    <ul>
                        {% for key, value in index_data.items %}
                        <li>
                            <a class="float-right" href="#">{{key}}</a>
                            <span class="float-left">{{value}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div><!-- end widget -->

                <div class="widget">
                    <div class="widget-title-outer">
                        <h3 class="widget-title">علامات التدوينات</h3>
                    </div>
                    <div class="tagcloud">
                        {% for item in tags %}
                        <a href="#">{{item}}</a>
                        {% endfor %}
                    </div>
                </div><!-- end widget -->

                <!-- <div class="widget">
                    <a href="#"><img src="{% static 'static/images/content/banner.png' %}" alt="Banner"></a>
                </div> -->

                <!-- <div class="widget">
                    <div class="widget-title-outer">
                        <h3 class="widget-title">Our Facebook Page</h3>
                    </div>
                    <iframe
                        src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true"></iframe>
                </div>end widget -->

            </div><!-- end #secondary -->

        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end main -->

{% endblock %}