{% extends 'base.html' %}
{% load static %}


{% block logo %}
    
    {% if logo %}
    {% for item in logo %}
    <div class="site-branding navbar-brand">
        <a href="{% url 'core:home' %}"><img src="{{item.image.url}}" height="50px"
            alt="Food Recipe Web Template" title="أطايب"></a>
    </div><!-- end logo -->  
    {% endfor %}  
    {% else %}
    <div class="site-branding navbar-brand">
        <a href="{% url 'core:home' %}"><img src="{% static 'recipes/images/assets/default_ingredients.jpg' %}" height="50px"
            alt="Food Recipe Web Template" title="أطايب"></a>
    </div><!-- end logo -->
    {% endif %}
{% endblock %}                    

{% block content %}

    <!-- SLIDER SECTION -->
    <div class="owl-carousel owl-theme">
        {% for item in images %}
        <div class="item">
            <img src="{{item.image.url}}" alt="slide 1">
            <!-- <div class="caption">
{#                <h2 class="animated bounce">أشهى الأطباق المنزلية</h2>#}
{#                <button class="btn btn-primary">EXPLORE NOW</button>#}
            </div> -->
        </div><!-- end item -->
        {% endfor %}
    </div><!-- end owl-carousel -->

    <div class="choice-section">
        <div class="container">
            <div class="section-title">
                <h3>Editor's Choice</h3>
            </div><!-- end section-title -->
            <div class="row">
                {% for key, value in echoice.items %}
                <div class="col-6 col-md-3">
                    <div class="big-bone">
                        <a href="#" class="figure-caption">
                            <div class="caption-inner">
                                <p>{{key}}</p>
                                <span>{{value|length}}</span>
                            </div>
                        </a>
                        <figure><img src="{% static 'recipes/images/content/food-l.png' %}" alt="food l"></figure>
                    </div>
                    <div class="small-bone">
                        <!-- {% for item in value %}
                            {% if item.image.url %}
                                <figure><img src="{{item.image.url}}" width="100px" height="80px" alt="food s"></figure>
                            {% else %}
                                <figure><img src="{% static 'recipes/images/content/food-s.png' %}" alt="food s"></figure>
                            {%endif%}
                        {% endfor %} -->
                        <figure><img src="{% static 'recipes/images/content/food-s.png' %}" alt="food s"></figure>
                        <figure><img src="{% static 'recipes/images/content/food-s.png' %}" alt="food s"></figure>
                    </div>
                </div><!-- end col -->
                {% endfor %}

            </div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end editor-section -->

    <div class="features-section parallax-bg">
        <div class="container">
            <div class="section-title">
                <h3>مميزات موقعنا</h3>
            </div><!-- end section-title -->
            <div class="row">
                <div class="col-md-4">
                    <div class="inner">
                        <span class="fitcon"><i class="fas fa-chart-line"></i></span>
                        <h4>الحقائق الغذائية</h4>
                        <p>نوفر الحقائق الغذائية الخاصة بكل وصفة من وصفاتنا</p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="inner">
                        <span class="fitcon"><i class="far fa-clock"></i></span>
                        <h4>وقت التحضير</h4>
                        <p>كل وصفة من وصفاتنا تحتوي وقت التحضير الخاص بها</p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="inner">
                        <span class="fitcon"><i class="fas fa-user-friends"></i></span>
                        <h4>الاشتراك</h4>
                        <p>سهولة الاشتراك في موقعنا</p>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end features -->

    <div class="recipes-section">
        <div class="container">
            <div class="section-title">
                <h3>وصفات خاصة</h3>
            </div><!-- end section-title -->
            <div class="row">
                {% if recent_recipes %}
                {% for recipe in recent_recipes%}
                <div class="col-6 col-md-3">
                    <div class="recipe-thumb">
                        {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" alt="Recipe Image">
                        {% else %}
                        <img src="{% static 'recipes/images/assets/default_no_pic.png' %}" width="100px" height="100px" alt="Recipe Image">
                        {% endif%}
                        <a href="{% url 'recipes:recipe-single'  recipe.id %}" class="view-recipe">عرض الوصفة</a>
                    </div>
                    <div class="recipe-desc">
                        <h2 class="recipe-title">
                            <a href="{% url 'recipes:recipe-single'  recipe.id %}"> {{recipe.name}} </a>
                        </h2>
                        <p><em> بواسطة {{ recipe.author}} </em></p>
                        <span><i class="fas fa-clock"></i> {{recipe.prep_time}} دقيقة </span>
                    </div><!-- end recipe-desc -->
                </div><!-- end col -->
                {% endfor %}
                {% else %}
                    <div class="row justify-content-center">
                        <h2>لا توجد وصفات متاحة حاليا .. نعمل علي اضافة المزيد قريبا ! </h2>
                    </div>
                {% endif%}
          
            </div><!-- end row -->

            <div class="row">
                <div class="centered">
                    <a href="{% url 'recipes:recipes' %}" class="btn btn-line">VIEW ALL RECIPES</a>
                </div><!-- end centered -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end recipes -->

    <div class="editor-section">
        <div class="container">
            <div class="section-title">
                <h3>أطايب Editor</h3>
            </div><!-- end section-title -->
            <div class="row justify-content-center">
                {% for profile in editors %}
                <div class="col-6 col-md-2">
                    <div class="author-col">
                        <figure class="auth-ava">
                            {% if profile.image.url %}
                                <img src="{{profile.image.url}}" width="100px" height="100px"  alt="Avatar">
                            {% else %}
                                <img src="{% static 'recipes/images/content/ava-1.png' %}" width="100px" height="100px" alt="Avatar">
                            {% endif %}
                        </figure>
                        <h4>{{profile.user.username}}</h4>
                    </div><!-- end author-col -->
                </div><!-- end col -->
                {% endfor %}
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end editor-section -->

    <div class="blog-section">
        <div class="container">
            <div class="section-title">
                <h3>RECENT BLOG POST</h3>
            </div><!-- end section-title -->
            <div class="row">
                {% for post in recent_posts %}
                <div class="col-6 col-md-3 blog-list">
                    <figure class="blog-thumb">
                        <img src="{{post.image.url}}" height="250px" width="300px" alt="blog">
                    </figure>
                    <div class="entry-header">
                        <h2 class="post-title entry-title">
                            <a href="{% url 'blog:blog-single'  post.id %}">{{post.title}}</a>
                        </h2>
                    </div><!-- end entry-header -->
                    <div class="post-meta">
                        <time class="published" datetime="2019-12-22"
                        title="December 22, 2019 - 21:12 pm">{{post.date_created|date}} </time>
                        <div class="cat"><a href="#">{{post.category}}</a></div>
                    </div>
                </div><!-- end col -->
                {% endfor %}
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end blog-section -->


{% endblock %}