{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}

    {% if title %}
        <title>أطايب | {{ title }}{% block head_title %}{% endblock %}</title>
    {% else %}
        <title>أطايب</title>
    {% endif %}

    <!-- STYLE CSS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="{% static 'recipes/css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'recipes/css/atayeb_styles.css' %}">
    <link rel="shortcut icon" href="{% static 'recipes/images/atayeb_logo_icon.ico' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

<div id="page" class="hfeed site"><!-- start page wrapper -->

    <header id="masthead" class="site-header navbar-fixed-top">
        <div class="header-navigation">
            <div class="container-fluid">

                <div class="row">

                    <div class="col col-md-2">
                        <div class="site-branding navbar-brand">
                            <a href="#"><img src="{% static 'recipes/images/atayeb_logo_300.png' %}" height="50px"
                                             alt="Food Recipe Web Template" title="أطايب"></a>
                        </div><!-- end logo -->
                    </div><!-- end col-md-3 -->

                    <div class="col-12 col-md-8">
                        <nav class="site-navigation navbar navbar-expand-lg navbar-light">

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'recipes:home' %}">الرئيسية <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">الوصفات</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                            <a class="dropdown-item" href="{% url 'recipes:recipes' %}">قائمة
                                                الوصفات</a>
                                            <a class="dropdown-item" href="{% url 'recipes:recipe-index' %}">دليل
                                                الوصفات</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'recipes:submit-recipe' %}">وصفة
                                                جديدة</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                            <a class="dropdown-item" href="{% url 'events:event' %}">Event List</a>
                                            <a class="dropdown-item" href="{% url 'events:event-single' %}">Event
                                                Single</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">المدونة</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                            <a class="dropdown-item" href="{% url 'blog:blog' %}">التدوينات</a>
                                            <a class="dropdown-item" href="{% url 'blog:blog-single' %}">عرض
                                                تدوينة</a>
                                            <a class="dropdown-item" href="{% url 'blog:archive' %}">الأرشيف</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">الصفحات</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                            <a class="dropdown-item" href="{% url 'blog:contacts' %}">اتصل بنا</a>
                                            <a class="dropdown-item" href="{% url 'blog:faq' %}">FAQ</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'blog:about' %}">معلومات عنا</a>
                                    </li>


                                    <li class="nav-item dropdown">
                                        {% if user.is_authenticated %}
                                            <a class="nav-link dropdown-toggle" href="#" id="userLoggedIn"
                                               role="button"
                                               data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fas fa-user-alt fa-lg"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="userLoggedIn">
                                                <a class="dropdown-item" href="{% url 'user:my-account' %}"><i class="fas fa-address-card"></i> الملف الشخصي</a>
                                                <a class="dropdown-item" href="{% url 'user:account_email' %}"><i class="fas fa-at"></i> تغيير البريد الإلكتروني</a>
                                                <a class="dropdown-item" href="{% url 'user:account_change_password' %}"><i class="fas fa-key"></i> تغيير كلمة المرور</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'user:invite_form' %}"><i class="fas fa-sign-out-alt fa-rotate-180"></i> دعوة صديق</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'user:account_logout' %}"><i class="fas fa-sign-out-alt fa-rotate-180"></i> خروج</a>
                                            </div>

                                        {% else %}
                                            <a class="nav-link dropdown-toggle" href="#" id="userNotLoggedIn"
                                               role="button"
                                               data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fas fa-user-alt-slash fa-lg"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="userNotLoggedIn">
                                                <a class="dropdown-item" href="{% url 'user:account_login' %}"><i class="fas fa-sign-in-alt fa-rotate-180"></i> تسجيل الدخول</a>

                                                <a class="dropdown-item" href="{% url 'user:account_signup' %}"><i class="fas fa-user-plus"></i> الاشتراك</a>
                                            </div>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div><!-- end navbar-collapse -->
                        </nav><!-- end site-navigation -->
                    </div><!-- end col-md-6 -->

                    <div class="col-md-2">
                        <nav class="social-navigation">
                            <div class="social-container">
                                <ul class="social-menu">
                                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div><!-- end social-container -->
                            <div class="search-container">
                                <button type="button" class="buttonsearch" id="buttonsearch">
                                    <i class="fas fa-search openclosesearch"></i><i class="fas fa-times openclosesearch"
                                                                                    style="display:none"></i>
                                </button>
                            </div><!-- end search-container -->
                        </nav>
                    </div><!-- end col-md-3 -->

                </div><!-- end row -->

            </div><!-- end container-fluid -->
        </div><!-- end header-navigation -->
    </header><!-- end #masthead -->

    <div class="container searchbardiv" id="formsearch">
        <form role="search" method="get" id="searchform">
            <div class="input-group">
                <input type="text" id="searchbox" class="form-control" name="s">
                <div class="input-group-btn">
                    <button class="btn btn-search" id="searchsubmit" type="submit">
                        <strong>Search</strong>
                    </button>
                </div>
            </div>
        </form>
    </div><!-- end searchbardiv -->

    {% block content %}
    {% endblock %}

    <div class="footer-instagram">
        <div class="ig-btn">
            <a href="#" class="ig-follow"> تابعنا على إنستجرام &nbsp;<i class="fab fa-instagram"></i></a>
        </div><!-- end ig-btn -->
        <ul class="ig-feed">
            <li><a href="#"><img src="{% static 'recipes/images/content/ig-1.png' %}" alt="photo"></a></li>
            <li><a href="#"><img src="{% static 'recipes/images/content/ig-2.png' %}" alt="photo"></a></li>
            <li><a href="#"><img src="{% static 'recipes/images/content/ig-3.png' %}" alt="photo"></a></li>
            <li><a href="#"><img src="{% static 'recipes/images/content/ig-4.png' %}" alt="photo"></a></li>
            <li><a href="#"><img src="{% static 'recipes/images/content/ig-5.png' %}" alt="photo"></a></li>
            <li><a href="#"><img src="{% static 'recipes/images/content/ig-6.png' %}" alt="photo"></a></li>
        </ul>
    </div><!-- end footer-instagram -->

    <div class="footer-social">
        <div class="container">
            <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
            <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
            <a href="#"><i class="fab fa-pinterest"></i>Pinterest</a>
            <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
            <a href="#"><i class="fab fa-youtube"></i>Youtube</a>
        </div><!-- end container -->
    </div><!-- footer-social -->

    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget widget-about">
                        <div class="widget-inner">
                            <h3 class="widget-title">أطايب</h3>
                            <p>كتاب الطبخ الخاص بك معك في كل مكان وفي أي وقت. تمتع بأشهى الأطباق المنزلية ضمن تشكيلة كبيرة ومتنوعة.</p>
                        </div><!-- end widget-inner -->
                    </div><!-- end widget -->
                </div><!-- end col -->
                <div class="col-md-6">
                    <div class="widget widget-subscribe">
                        <div class="widget-inner">
                            <h3 class="widget-title">إبق على اطلاع</h3>
                            <span>سجل معنا لتبقى على اطلاع على آخر الإضافات والتحديثات</span>
                            <div class="subscribe-form">
                                <input type="email" name="EMAIL" placeholder="Your email address" required="">
                                <input type="submit" value="سجل">
                            </div><!-- end subscribe-form -->
                        </div><!-- end widget-inner -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="copy">
                        <p>&copy; 2020 أطايب Web Template. Made with <i class="fas fa-heart"></i> by Honeypress</p>
                    </div><!-- end copy -->
                </div><!-- end col -->
                <div class="col-md-6">
                    <ul class="bottom-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end bottom -->

</div><!-- end #page hfeed site -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'recipes/js/vendor/modernizr-3.7.1.min.js' %}"></script>
<script src="{% static 'recipes/js/vendor/jquery-3.4.1.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'recipes/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'recipes/js/plugin.js' %}"></script>
<script src="{% static 'recipes/js/main.js' %}"></script>

{% block script %}{% endblock %}

</body>
</html>


<!-- Bootstrap core CSS -->

{#    <link rel="stylesheet" href="{% static 'recipes/css/bootstrap.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'recipes/css/bootstrap-grid.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'recipes/css/carousel.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'recipes/css/atayeb_bootstrap_theme.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">#}
{#    <link rel="shortcut icon" href="{% static 'recipes/images/atayeb_logo_icon.ico' %}">#}


{##}
{#<!-- jQuery first, then Popper.js, then Bootstrap JS, then Fontawesome JS -->#}
{#<script src="{% static 'recipes/js/jquery-3.4.1.slim.min.js' %}"></script>#}
{#<script src="{% static 'recipes/js/popper.min.js' %}"></script>#}
{#<script src="{% static 'recipes/js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'recipes/js/fontawesome-all.min.js' %}"></script>#}

{#{% block javascript %}{% endblock %}#}